*.vo
*.glob
*.v.d
*.aux
*.log
*.fdb_latexmk
*.fls
paper/IEEEtran.cls
reflective_subuniverse_O_different_level.v
*.bbl
*.blg
*.bst
*.el
*.out
*.old.*
*.pdf
paper/biblio.bib
paper/sujet_stage.tex
Makefile
